[submodule "Trivia"]
	path = Trivia
	url = git@github.com:buttbot-irc/Trivia.git
[submodule "SpiffyTitles"]
	path = SpiffyTitles
	url = git@github.com:buttbot-irc/SpiffyTitles.git
[submodule "SedRegex"]
	path = SedRegex
	url = git@github.com:buttbot-irc/SedRegex.git
[submodule "Weather"]
	path = Weather
	url = git@github.com:buttbot-irc/Weather.git
[submodule "UrbanDictionary"]
	path = UrbanDictionary
	url = git@github.com:buttbot-irc/UrbanDictionary.git
[submodule "DuckHunt"]
	path = DuckHunt
	url = git@github.com:buttbot-irc/DuckHunt.git
[submodule "IgnoreUnknownPrivateMessages"]
	path = IgnoreUnknownPrivateMessages
	url = git@github.com:buttbot-irc/IgnoreUnknownPrivateMessages.git
[submodule "Remind"]
	path = Remind
	url = git@github.com:buttbot-irc/Remind.git
