<?php

use Phergie\Irc\Connection;

return [
  'connections' => [
    new Connection([
      'serverHostname' => 'chat.freenode.net',
      'serverPort' => 6697,
      'username' => 'gluteus',
      'realname' => 'gluteus',
      'nickname' => 'gluteus',
      'options' => [
        'transport' => 'ssl',
      ]
    ])
  ],
  'plugins' => [
    new \Phergie\Irc\Plugin\React\Command\Plugin(['prefix' => '.']),
    new \Phergie\Irc\Plugin\React\AutoJoin\Plugin(['channels' => '#botters']),
    new \Phergie\Irc\Plugin\React\NickServ\Plugin([
         'password' => '',
         'botnick' => 'NickServ',
         'ghost' => true,
         'identifypattern' => '/This nickname is registered/',
         'loggedinpattern' => '/You are now identified/',
         'ghostpattern' => '/has been ghosted/',
    ]),
    new \PSchwisow\Phergie\Plugin\AltNick\Plugin([
        'nicks' => ['botbot', 'botbot_', 'gluteus', 'gluteus_',],
        'recovery' => true,
    ]),
    new \Buttbot\Plugins\Weather(['apiKey' => '']),
  ]
];
